<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.havoc.themes.pinegreen"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="1"/>

    <application android:label="Theme PineGreen" android:hasCode="false"/>
</manifest>
